{% extends "base.html" %}

{% block content %}

    <h1> Menu Cliente </h1>

    <div>
        <p> <button> <a href="{{ url_for('edit_User') }}"> Editar información de usuario </a> </button> </p>

        <p> <button> <a href="{{ url_for('addorder') }}"> Generar orden de servicio </a> </button> </p>

        <p> <button> <a href="{{ url_for('showOrdersServ') }}"> Consultar órdenes de servicio </a> </button> </p>

        <p> <button> <a href="/logout"> Cerrar Sesión </a> </button> </p>
    </div>

{% endblock %}